body
{
    min-width: 320px;
    background-image: url("../image/main.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    font-family: "Oranienbaum", sans-serif;
}

body:before
{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: -1;
}

.section
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
}

.section:before
{
    content: '';
    background-image: url("../image/section.png");
    background-size: cover;
    background-position: center;
    display: block;
    width: 250px;
    height: 80px;
    margin: 0 auto 30px;
}

.header-title
{
    text-transform: uppercase;
    font-size: 22px;
}

.navbar-toggler
{
    border: none;
}

.navbar-toggler:focus
{
    box-shadow: none;
}

.banner
{
    text-align: center;
    overflow-x: hidden;
    padding-top: 16px;
}

.container-banner
{
    margin: 40px auto;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid rgba(255, 215, 0, .4);
    position: relative;
}

.container-border
{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 2px solid rgba(255, 215, 0, .4);
    position: absolute;
}

.container-border.right
{
    top: 22px;
    right: 14px;
}

.container-border.left
{
    bottom: 10px;
    left: 16px;
}

.image-border
{
    width: 300px;
    height: 360px;
    position: absolute;
    z-index: 10;
}

.image-border.left
{
    left: -110px;
    top: -70px;
    transform: rotate(30deg);
}

.image-border.right
{
    right: -110px;
    bottom: -70px;
    transform: rotate(30deg);
}

.container-data
{
    font-family: "CeremoniousOne", sans-serif;
    font-size: 80px;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border: 2px solid #ffd700;
    background-color: rgba(255, 255, 255, .5);
    color: #AB7C18;
    position: absolute;
    top: 35px;
    left: 35px;
    padding: 40px 70px 0;
}

.container-data .last-name,
.container-data .first-name
{
    letter-spacing: 10px;
}

.container-data .last-name,
.container-data .first-name,
.container-data .date
{
    position: relative;
    z-index: 20;
}

.container-data .first-name
{
    text-align: left;
}

.container-data .last-name
{
    text-align: right;
}

.container-data .date
{
    text-align: center;
    font-size: 50px;
}

.container-data .symbol
{
    text-align: center;
    color: darkgray;
    margin: -50px 0;
}

.header
{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 100;
}

.offcanvas-body
{
    justify-content: center;
}

.offcanvas-body .nav-link
{
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    padding: 0 !important;
}

.offcanvas-body .nav-item
{
    position: relative;
    margin: 0 20px;
}

.offcanvas-body .nav-item:not(:last-of-type):after
{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #AB7C18;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: -22px;
}

.title
{
    font-family: "CeremoniousOne", sans-serif;
    font-size: 50px;
    color: #AB7C18;
    margin-bottom: 16px;
}

.description
{
    font-size: 20px;
    margin-bottom: 16px;
}

.description.gold
{
    font-size: 30px;
    color: #AB7C18;
}

.map-container
{
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}

.preloader
{
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}

.section-time
{
    background-image: url("../image/time.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    position: relative;
    padding-top: 150px;
    padding-bottom: 100px;
}

.section-time:before
{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 1;
}

.section-time .description
{
    font-size: 34px;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.section-time .small
{
    font-size: 24px;
}

.timer
{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.timer .box:not(:last-of-type)
{
    border-right: 1px solid #fff;
}

.timer .box
{
    text-align: center;
    width: 70px;
    height: 70px;
}

.timer .number
{
    font-size: 26px;
}

.timer .text
{
    font-size: 18px;
}

.offcanvas
{
    width: 250px !important;
}

.container-colors
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.color-box
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 8px;
}

.color-box.yellow
{
    background-color: #F5DEB4;
}

.color-box.red
{
    background-color: #E9C3B8;
}

.color-box.purple
{
    background-color: #BDA3BE;
}

.color-box.green
{
    background-color: #86A294;
}

@media (max-width: 767px) {
    .header
    {
        position: fixed;
        z-index: 50;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding-top: 6px;
        padding-bottom: 6px;
        box-shadow: 0 -20px 20px 4px #000;
    }

    .navbar
    {
        justify-content: flex-end;
    }

    .offcanvas-body .nav-link
    {
        font-size: 28px;
        text-align: center;
    }

    .offcanvas-body .nav-item:after
    {
        content: none !important;
    }

    .offcanvas-body .nav-item
    {
        margin: 8px 0;
    }
}

@media (max-width: 575px) {
    .title
    {
        font-size: 40px;
    }

    .description
    {
        font-size: 18px;
    }

    .container-banner
    {
        width: 320px;
        height: 320px;
        margin-top: 70px;
    }

    .container-data
    {
        width: 300px;
        height: 300px;
        font-size: 58px;
        padding-top: 24px;
        top: 10px;
        left: 10px;
    }

    .container-data .last-name,
    .container-data .first-name
    {
        letter-spacing: 4px;
    }

    .container-data .date
    {
        margin-top: -24px;
    }

    .image-border.right
    {
        right: -40px;
        bottom: -50px;
    }

    .image-border.left
    {
        left: -40px;
        top: -50px;
    }

    .image-border
    {
        width: 180px;
        height: 216px;
    }

    .container-border
    {
        width: 310px;
        height: 310px;
    }

    .container-data .symbol
    {
        margin: -34px 0;
    }
    
    .banner
    {
        overflow: hidden;
    }


}